@import './base.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 300ms ease-in-out;
}

#app {
  position: relative;
  background: var(--Color-Background-bg-color-page, #f2f3f5);

  width: 100vw;
  height: 100vh;
  max-width: 430px;
  max-height: 932px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
